<phpunit backupGlobals="true"
         bootstrap="./vendor/autoload.php"
         cacheResult="false"
         colors="true"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false">
    <testsuites>
        <testsuite name="Xpmock">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <html outputDirectory="./tests/report" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>
</phpunit>
